<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartamentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/views/css/styles.css">
    <link rel="shortcut icon" href="../views/img/logo.png" />
</head>

<body id="views">
    <div class="container" id="container-views">

        <%- include('navbar.html') %>
        
        <h1>Apartamentos</h1>
        <form action="/apartamentos/agregar" method="post">
            <label for="numeroApto">Numero apartamento</label>
            <input title="numeroApto" type="text" name="numeroApto" id="numeroApto" required
                placeholder="Numero Apartamento">

            <label for="numeroTorre">Numero torre</label>
            <input title="numeroTorre" type="text" name="numeroTorre" id="numeroTorre" required
                placeholder="Numero Torre">

            <label for="estado">Estado</label>
            <select title="estado" name="estado" id="estado">
                <optgroup label="Estado">
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                </optgroup>
            </select>

            <button type="submit" type="button" onclick="createApartamento()">Crear Apartamento</button>
        </form>

        <table id="Table" class="display">
            <thead>
                <tr>
                    <th>N° APARTAMENTO</th>
                    <th>ESTADO</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% apartamentos.forEach(apartamento=> { %>
                    <tr>
                        <td>
                            <%= apartamento.Apto %>
                        </td>
                        <td>
                            <%= apartamento.estado %>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-editar"
                                data-user-id="<%= apartamento.idApartamento %>" data-bs-toggle="modal"
                                data-bs-target="#modal-editar-<%= apartamento.idApartamento %>">Editar</button>
                            <a href="/apartamentos/eliminar/<%= apartamento.idApartamento %>" class="btn-eliminar"
                                title="Eliminar apartamento"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este apartamento?');">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    <div class="modal fade" id="modal-editar-<%= apartamento.idApartamento %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                        <%= apartamento.apto %>
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/apartamentos/actualizar/<%= apartamento.idApartamento %>"
                                        method="post">
                                        <label for="numeroApto">Numero apartamento</label>
                                        <input title="numeroApto" type="text" name="numeroApto" id="numeroApto" required
                                            placeholder="Numero Apartamento" value="<%= apartamento.numeroapto %>">

                                        <label for="numeroTorre">Numero torre</label>
                                        <input title="numeroTorre" type="text" name="numeroTorre" id="numeroTorre"
                                            required placeholder="Numero Torre" value="<%= apartamento.numerotorre %>">
                                        <br>
                                        <label for="estado">Estado</label>
                                        <select title="estado" name="estado" id="estadoModal">
                                            <optgroup label="Estado">
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </optgroup>
                                        </select>
                                        <br>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary btn-sm btn-guardar"
                                                type="submit">Guardar</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="../views/pagination.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializePagination();
        });
    </script>
</body>

</html>