<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESCENARIOS DEPORTIVOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
        <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/views/css/styles.css">
</head>

<body id="views">
    <div class="container" id="container-views">

        <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">RESERVA DE ESCENARIOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Opciones
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Roles">Roles</a></li>
                                <li><a class="dropdown-item" href="/Apartamentos">Apartamentos</a></li>
                                <li><a class="dropdown-item" href="/Usuario">Usuarios</a></li>
                                <li><a class="dropdown-item" href="/Horarios">Horarios</a></li>
                                <li><a class="dropdown-item" href="/Disponibilidades">Ver Disponibilidades</a></li>
                                <li><a class="dropdown-item" href="/Reserva">Realizar reserva</a></li>
                                <!-- Otras opciones del menú -->
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/auth">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>Escenarios Deportivos</h1>
        <form action="" method="post">
            <label for="Nombre">nombre</label>
            <input title="nombre" type="text" name="nombre" id="nombre" required>
            <label for="horario">Horario</label>
            <select title="idHorario" name="idHorario" id="idHorario">
                <optgroup label="horario">
                    <% for (let i=0; i < horariosOptions.length; i++) { %>
                        <% for (let j=0; j < horariosOptions[i].length; j++) { %>
                            <option value="<%= horariosOptions[i][j].idHorario %>">
                                <%= horariosOptions[i][j].nombre %>
                            </option>
                            <% } %>
                            <% } %>
                </optgroup>
            </select>
            <button type="button" onclick="createEscenario()">Crear Escenario</button>
        </form>

        <table>

            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>HORARIO</th>
                <th>EDITAR -- ELIMINAR</th>
            </tr>
            <% for (let i=0; i < Escenario.length; i++) { %>
                <% for (let j=0; j < Escenario[i].length; j++) { %>
                    <tr>
                        <td>
                            <%= Escenario[i][j].idEscenario %>
                        </td>
                        <td>
                            <%= Escenario[i][j].nombre %>
                        </td>
                        <td>
                            <%= Escenario[i][j].horario %>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-editar"
                                data-user-id="<%= Escenario[i][j].idEscenario %>"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-editar-<%= Escenario[i][j].idEscenario %>">Editar</button>
                            <a href="#" class="btn-eliminar" id="btn-eliminar" title="eliminar"
                                data-idEscenario="<%= Escenario[i][j].idEscenario %>">Eliminar</a>
                        </td>
                    </tr>

                    <div class="modal fade" id="modal-editar-<%= Escenario[i][j].idEscenario %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                        <%= Escenario[i][j].nombre %>
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control mb-3" name="nuevoNombre"
                                            id="nuevoNombre-<%= Escenario[i][j].idEscenario %>" required
                                            value="<%= Escenario[i][j].nombre %>">

                                        <label>Horarios</label>
                                        <select title="idNuevoHorario" name="idNuevoHorario"
                                            id="idNuevoHorario-<%= Escenario[i][j].idEscenario %>">
                                            <optgroup label="Horario">
                                                <% for (let i=0; i < horariosOptions.length; i++) { %>
                                                    <% for (let j=0; j < horariosOptions[i].length; j++) { %>
                                                        <option value="<%= horariosOptions[i][j].idHorario %>">
                                                            <%= horariosOptions[i][j].Horario %>
                                                        </option>
                                                        <% } %>
                                                        <% } %>
                                            </optgroup>
                                        </select>
                                        <div class="modal-footer">
                                            <a href="#" class="btn-editar" id="btn-editar" title="editar"
                                                data-idRol="<%= Escenario[i][j].idEscenario %>">Guardar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
        </table>
    </div>
    <script src="/public/escenarios.js"></script>
</body>

</html>