<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROLES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/views/css/styles.css">
</head>

<body id="views">
    <div class="container" id="container-views">

        <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">RESERVA DE ESCENARIOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Opciones
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Apartamentos">Apartamentos</a></li>
                                <li><a class="dropdown-item" href="/Usuario">Usuarios</a></li>
                                <li><a class="dropdown-item" href="/Horarios">Horarios</a></li>
                                <li><a class="dropdown-item" href="/Escenarios">Escenarios Deportivos</a></li>
                                <li><a class="dropdown-item" href="/Disponibilidades">Ver Disponibilidades</a></li>
                                <li><a class="dropdown-item" href="/Reserva">Realizar reserva</a></li>
                                <!-- Otras opciones del menú -->
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/auth">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>ROLES</h1>
        <form action="" method="post">
            <label for="nombre">nombre</label>
            <input title="nombre" type="text" name="nombre" id="nombre" required>
            <label>Seleciona el Rol</label>
            <select title="administrador" name="Administrador" id="administrador">
                <optgroup label="Administrador">
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                </optgroup>
            </select>
            <button type="button" onclick="createRol()">Crear Rol</button>
        </form>

        <table>

            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ADMINISTRADOR</th>
                <th>EDITAR -- ELIMINAR</th>
            </tr>
            <% for (let i=0; i < Roles.length; i++) { %>
                <% for (let j=0; j < Roles[i].length; j++) { %>
                    <tr>
                        <td>
                            <%= Roles[i][j].idRol %>
                        </td>
                        <td>
                            <%= Roles[i][j].nombre %>
                        </td>
                        <td>
                            <%= Roles[i][j].administrador %>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm btn-editar" data-user-id="<%= Roles[i][j].idRol %>"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-editar-<%= Roles[i][j].idRol %>">Editar</button>
                            <a href="#" class="btn-eliminar" id="btn-eliminar" title="eliminar"
                                data-idRol="<%= Roles[i][j].idRol %>">Eliminar</a>
                        </td>
                    </tr>

                    <div class="modal fade" id="modal-editar-<%= Roles[i][j].idRol %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                        <%= Roles[i][j].nombre %>
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control mb-3" name="nuevoRol"
                                            id="nuevoRol-<%= Roles[i][j].idRol %>" required
                                            value="<%= Roles[i][j].nombre %>">

                                        <label>Administrador</label>
                                        <select title="administrador" name="Administrador"
                                            id="nuevoAdmon-<%= Roles[i][j].admon%>">
                                            <optgroup label="Administrador">
                                                <option value="1">SI</option>
                                                <option value="0">NO</option>
                                            </optgroup>
                                        </select>
                                        <div class="modal-footer">
                                            <a href="#" class="btn-editar" id="btn-editar" title="editar"
                                                data-idRol="<%= Roles[i][j].idRol %>">Guardar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
        </table>
    </div>
    <script src="/public/roles.js"></script>
</body>

</html>